@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Bungee+Spice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Bungee+Spice&family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Bungee+Spice&family=Dancing+Script:wght@400..700&family=Pacifico&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image:url('beautiful-flower-arrangement-with-copy-space_23-2148381021.avif'); 
    background-repeat: no-repeat;
    background-size: cover;
  }
  .container{
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
  }
  #XMLID_226_{
    animation: draw 10s forwards;
  }
   
   @keyframes draw {
    from{}
   
    to {
      stroke-dashoffset: 0;
    }
  }
  .container{
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    position: relative;
  }
  
  .envelope {
    position: relative;
    width: 400px;
    height: 250px;
    background-color: #fff;
    border: 2px solid #ccc;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }
  
  .envelope:hover {
    transform: scale(1.05);
  }
  .envelope-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-left: 200px solid transparent;
    border-right: 200px solid transparent;
    border-top: 125px solid #ef7ee9;
    transform-origin: top;
    transition: transform 0.5s ease-in-out;
  }
  
  .envelope-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: #e77bf3;
  }
  .envelope.open .envelope-top {
    transform: rotateX(-180deg);
  }
  
  .content {
    display: none;
    width: 1100px;
    height: 400px;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    box-sizing: border-box;
    margin-top:94px;
  }
  
  .envelope.open + .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  }
  
  .fade-in.visible {
    opacity: 1;
    transform: translateY(0);
  }
  
  .envelope.vanish {
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
  h1{
    font-family: "Anton", serif;
  font-weight: 400;
  font-size: 2rem;
  font-style: normal;
    color: #e62e0d ;
  }
  h3{
    font-family: "Dancing Script", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  h4{
    font-family: "Pacifico", serif;
  font-weight: 400;
  font-style: normal;
  }